.label {
  position: absolute;
  width: 500px;
  height: 86px;
  left: 8%;
  top: 10%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  text-align: center;

  color: #fdfbf3;
}

.label2 {
  position: absolute;
  height: 30px;
  left: 10%;
  right: 60%;
  top: 37%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;

  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #fdfbf3;
}

.personal-label {
  position: absolute;
  top: 105%;
  left: 30%;
  right: 30%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;

  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #fdfbf3;
}

.namecard {
  position: absolute;
  top: 115%;
  left: 30%;
  right: 30%;
}
.occupationcard {
  position: absolute;
  top: 135%;
  left: 30%;
  right: 30%;
}
.institutecard {
  position: absolute;
  top: 155%;
  left: 30%;
  right: 30%;
}

.accountcard {
  padding-top: 0px;
  padding-bottom: 0px;
  position: absolute;
  left: 10%;
  right: 60%;
  top: 45%;
}

.individualRegisterImg {
  position: absolute;

  top: 0%;
  left: 50%;

  mix-blend-mode: normal;
  opacity: 0.2;
}

.input-label {
  font-size: 20px;
}

.accountitem {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.scrolltomiddleButton {
  position: absolute;
  height: 50px;
  left: 20%;
  right: 71%;
  top: 80%;
}

.name-label {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.input-text {
  font-size: larger;
}

.registerButton2 {
  position: absolute;
  top: 170%;
  left: 45%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.bottom-space {
  position: absolute;
  top: 195%;
}
