.image {
    position: center;
}

ion-header{
    color: "light"
}

.card {
    background-color: "light";
    position: absolute;
    left: 34.38%;
    right: 34.38%;
}


.signinButton {
    position: absolute;
    left: 34.38%;
    right: 34.38%;
    top: 50.93%;
    bottom: 42.04%;

    border-radius: 10px;
}